/* =========================================================== */
/* Flexbox opmaak voor de container binnen de Blog pagina */
/* =========================================================== */


.blog-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-container form {
    text-align: left;
}

.blogpost1, .blogpost2, .blogpost3, .blogpost4, .blogpost5, .blogpost6 {
    max-width: 400px;
    margin: 10px;
    border: 5px solid #ffffff88;
    border-radius: 10px;
    padding: 10px;
}

.blogpost2 {
    flex-grow: 2;
}

.blogpost4 {
    align-self: center;
    border-style: dotted;
    border-width: 10px;
    border-color: #ff000088;
}

.blogpost6 {
    flex-grow: 4;
}
