* {
    margin: 0;
    line-height: 1.3;
}

html {
    box-sizing: border-box;
    /* font-family: straks opgeven */
}

.container {
    display: grid;
    width: 100%;
    height: 100vh;
    /* max-width: 1140px; */
    margin: 0px auto;
    grid-template-columns: 0.1fr 4fr 0.1fr;
    grid-template-rows: 0.7fr 3fr 4fr 2fr 2fr 1fr;
    grid-gap: 10px;
    text-align: center;
    grid-template-areas:
        "header header header"
        "empty-lft hero-one empty-rht"
        "empty-lft intro-one empty-rht"
        "empty-lft hero-two empty-rht"
        "empty-lft intro-two empty-rht"
        "footer footer footer";
}
.cat-img{
height:auto ;
width: 100px;
margin: auto;

}
.header, .footer {
    font-size: 24px;
    padding: 10px;
    background-color: #b9c3b9;
}
.empty-lft, .empty-rht {
    background-color: #e2dfc4;
}
.hero-one, .hero-two {
    font-size: 24px;
    padding: 10px;
    background-color: #b9c3b9;
}
.intro-one, .intro-two {
    font-size: 24px;
    padding: 50px 10px;
    background-color: #b9c3b9;
}

.header {
    /* background: #7f1a40; */
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.navbar {
    /* grid-area: navbar; */
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: black;
    display: block;
}

.navbar li {
    margin-left: 30px;
}

.logo {
    color: white;
}

.empty-rht {
    grid-area: empty-rht;
}

.empty-lft {
    grid-area: empty-lft;
}

.hero-one {
    grid-area: hero-one;
}

.intro-one {
    grid-area: intro-one;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-two {
    grid-area: hero-two;
}

.intro-two {
    grid-area: intro-two;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    grid-area: footer;

}

@media screen and (min-width:768px) {
    .container {
        grid-template-areas:
            'header header header'
            'empty-lft hero-one empty-rht'
            'empty-lft intro-one empty-rht'
            'empty-lft hero-two empty-rht'
            'empty-lft intro-two empty-rht'
            'footer footer footer';
        grid-template-columns: 1fr 10fr 1fr;
        grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width:900px) {
    .container {
        grid-template-areas:
            'header header header header '
            'empty-lft hero-one intro-one empty-rht'
            'empty-lft intro-two hero-two empty-rht'
            'footer footer footer footer ';
        grid-template-columns: 1fr 10fr 10fr 1fr;
        grid-template-rows:  0.7fr 4fr 4f 2fr;
    }
}

/* .header {
 grid-column: 1 / 3;
 grid-row: 1 / 2;
 background:#7f1a40 ;*/
/* .navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar a {
  text-decoration: none;
  color:white;
  display: block;


}
.navbar li{

margin-left: 20px;

} */
/* .nav-links {
    font-size: 1.2em;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    border: solid 3px rgb(136, 129, 129);
    margin: 20px;
    padding: 10px;
}

.nav-links li a {
    color: rgb(189, 10, 243);
    text-decoration: none;
    margin-left: 15px;
    font-size: 1.5em;
} */
/* display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-evenly;
 padding: 10px; } */
/* #container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 4fr 2fr;
    grid-gap: 5px;
    font-size: 2em;
    text-align: center;
    grid-template-areas:
        "header"
        "main"
        "widget"
        "footer";
}


.header {
    background: green;
    grid-area: header;
}

.main {
    background: orange;
    grid-area: main;
}

.widget {
    background: yellow;
    grid-area: widget;
}

.footer {
    background: blue;
    grid-area: footer;
}

@media screen and (min-width:500px) {
    .container {
        grid-template-areas:
            'header main'
            'header widget'
            'header footer';
        grid-template-columns: 33% auto;
        grid-template-rows: 350px 100px 50px;
    }
}

@media screen and (min-width:900px) {
    .container {
        grid-template-areas:
            'header main widget'
            'header main widget'
            'header footer widget';
        grid-template-columns: 25% auto 25%;
        grid-template-rows: 450px 50px;
    }
} */
