* {
    margin: 0;
    line-height: 1.3;
}

body, html {
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
    /* font-family: straks opgeven */
}
.header, .footer {
    font-size: 24px;
    padding: 10px;
    background-color: #b9c3b9;
}
.empty-lft, .empty-rht {
    background-image: linear-gradient(to bottom, #b9c3b9, white);
    border-style: solid;
    border-width: 1px;
    border-color: #b9c3b9;
}

@media screen and (min-width:768px) {
    .empty-lft, .empty-rht {
        background-image: url("../images/lynx.png"), linear-gradient(to bottom, #b9c3b9, white);
        /* NB: 2 achtergronden; een plaatje en een gradient overelkaar*/
        background-size: 75px, contain;
        background-position: center;
        background-repeat: repeat-y;
        background-blend-mode: soft-light; /*laat zwarte footprints als donkere tint verschijnen over gradient*/
    }
}
.hero-one, .hero-two {
    font-size: 24px;
    padding: 10px;
    background-color: #b9c3b9;
}
.intro-one, .intro-two {
    font-size: 24px;
    padding: 50px 10px;
    background-color: #b9c3b9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blog-container, .contact-container {
    font-size: 12px;
    padding: 10px;
    background-color: #b9c3b9;
}
.header {
    /* background: #7f1a40; */
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
}
.cat-img{
height:auto ;
width: 100px;
margin: auto;

}

/* .empty-lft, .empty-rht {
    background-color: #e2dfc4;
} */




.navbar {
    /* grid-area: navbar; */
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: black;
    display: block;
}

.navbar li {
    margin-left: 10px;
    margin-right: 10px;
    /* margin-left: 30px; */
}

.logo {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.empty-rht {
    grid-area: empty-rht;
}

.empty-lft {
    grid-area: empty-lft;
}

.hero-one {
    grid-area: hero-one;
}

.intro-one {
    grid-area: intro-one;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center; */
}

.hero-two {
    grid-area: hero-two;
}

.intro-two {
    grid-area: intro-two;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.giphies {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.giphy-embed {
    width: 100px;
    margin: auto;
}

.footer {
    grid-area: footer;

}
.footer a {
    font-size: 48px;
    text-decoration: none;
    color: white;
}


/* Footprints alleen bij grotere schermen */
@media screen and (min-width:768px) {
    .empty-left, .empty-right {
        background-image: url("../images/lynx.png"), linear-gradient(to bottom, #b9c3b9, white);
        /* NB: 2 achtergronden; een plaatje en een gradient overelkaar*/
         background-size: 75px, contain;
        background-position: center;
        background-repeat: repeat-y;
        background-blend-mode: soft-light;/*laat zwarte footprints als donkere tint verschijnen over gradient*/
    }
}

/* @media screen and (min-width:768px) {
    .container {
        grid-template-areas:
            'header header header'
            'empty-lft hero-one empty-rht'
            'empty-lft intro-one empty-rht'
            'empty-lft hero-two empty-rht'
            'empty-lft intro-two empty-rht'
            'footer footer footer';
        grid-template-columns: 1fr 10fr 1fr;
        grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr;
    }
} */

/* @media screen and (min-width:900px) {
    .container {
        grid-template-areas:
            'header header header header '
            'empty-lft hero-one intro-one empty-rht'
            'empty-lft intro-two hero-two empty-rht'
            'footer footer footer footer ';
        grid-template-columns: 1fr 10fr 10fr 1fr;
        grid-template-rows:  0.7fr 4fr 4f 2fr;
    }
}

* Logo naast navbar op grotere schermen (bij mobile was onder elkaar) */
@media screen and (min-width:768px) {
    .header {
        flex-direction: row;
        padding-top: 10px;
    }
}

/* .header {
 grid-column: 1 / 3;
 grid-row: 1 / 2;
 background:#7f1a40 ;*/
/* .navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar a {
  text-decoration: none;
  color:white;
  display: block;


}
.navbar li{

margin-left: 20px;

} */
/* .nav-links {
    font-size: 1.2em;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    border: solid 3px rgb(136, 129, 129);
    margin: 20px;
    padding: 10px;
}

.nav-links li a {
    color: rgb(189, 10, 243);
    text-decoration: none;
    margin-left: 15px;
    font-size: 1.5em;
} */
/* display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-evenly;
 padding: 10px; } */
/* #container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 4fr 2fr;
    grid-gap: 5px;
    font-size: 2em;
    text-align: center;
    grid-template-areas:
        "header"
        "main"
        "widget"
        "footer";
}


.header {
    background: green;
    grid-area: header;
}

.main {
    background: orange;
    grid-area: main;
}

.widget {
    background: yellow;
    grid-area: widget;
}

.footer {
    background: blue;
    grid-area: footer;
}

@media screen and (min-width:500px) {
    .container {
        grid-template-areas:
            'header main'
            'header widget'
            'header footer';
        grid-template-columns: 33% auto;
        grid-template-rows: 350px 100px 50px;
    }
}

@media screen and (min-width:900px) {
    .container {
        grid-template-areas:
            'header main widget'
            'header main widget'
            'header footer widget';
        grid-template-columns: 25% auto 25%;
        grid-template-rows: 450px 50px;
    }
} */
